*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// This defines 1rem is 10px
	font-size: 62.5%;

	@include respond(tab-land) {
		// 1rem is 9px

		font-size: 56.25%;
	}

	@include respond(tab-port) {
		// 1rem is 8px

		font-size: 50%;
	}

	@include respond(big-desktop) {
		// 1rem is 12px

		font-size: 75%;
	}
}

body {
	box-sizing: border-box;
	padding: 3rem;

	@include respond(tab-port) {
		padding: 0;
	}
}

::selection {
	background-color: $color-primary;
	color: $color-white;
}
